@font-face {
  font-family: Estedad;
  src: url(./Estedad-VF.woff2);
}

@font-face {
  font-family: Estedad-FD;
  src: url(./Estedad-VF-FD.woff2);
}

body {
  direction: rtl;
  font-family: Estedad-FD;
  font-size: medium;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1400px;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background-image: url("./images/background.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  margin: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.time {
  padding: 1px 7px 1px 7px;
  width: 20px;
  color: white;
  border-radius: 10px;
  background-color: black;
  margin: 0 5px 0 5px;
}

.card {
  background-color: white;
  border-radius: 30px;
  width: 200px;
  height: auto;
  border-radius: 24px;
  margin: 30px;
  margin: 10px;
}

.card-title {
  font-size: 15px;
  margin: 0px 10px 0px 10px;
}

.card-description {
  font-size: 10px;
  margin: 0px 10px 0px 10px;
}

#discount {
  font-family: Estedad;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: white;
  border-radius: 30px;
  padding: 5px 15px 5px 15px;
}

.card-img {
  width: 200px;
  border: 10px white;
  height: auto;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.container-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 20px 0px 20px;
}

.container-flex-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.container-flex-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.container-flex-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.container-flex-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.discount {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  background-color: #cf0463;
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.price-before {
  color: #524d4d;
  font-size: 13px;
}

.card-description {
  color: #524d4d;
  margin: 3px 3px 10px;
}

.price-offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin: 0px 10px 0px 10px;
}

.eng-font {
  font-family: Estedad;
}

.actual-price {
  margin: 0px 5px 0px 5px;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: row;
  width: 95vw;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
/*# sourceMappingURL=styles(smallscreen).css.map */